.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }

.main{
    background-image: url("https://satyamreadingroom.github.io/readingroom-Website-test-site/assets/beach.png");

}
.branch{
    display: flex;
    padding: 1rem
}
.branches{
    margin;
}
.gradient {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    border: 0px;
  }

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="small"] {
        max-height: 400px;
        max-width: 450px;
    }
    [class*="tag"]{
        font-size: xx-small;
    }
    [class*="branch"]{
        display: flex;
        flex-direction:column;
    }
    }
@media only screen and (max-width: 768px) {
    /*tablets*/
    [class*="small"] {
        max-height: 400px;
        max-width: 600px;
    }
    [class*="tag"]{
        font-size: x-small;
    }
    }
    

