.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }

.main{
    background-image: url("/assets/oldrr.jp");

}
.branch{
    display: flex;
    padding:1rem;
}

.gradient {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    border: 0px;
  }

@media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="small"] {
            max-height: 400px;
            max-width: 450px;
        }
        [class*="tag"]{
            font-size: xx-small;
        }
      }

